@using EventStore.EFCore.Postgres.Commands
@inject IJSRuntime JS

<div>
    <MudStack>
        <h3>Command Audit</h3>

        <MudTable id="@_containerId"
                  Items="@Commands"
                  Dense="true"
                  FixedHeader="true">
            <HeaderContent>
                <MudTh>RowKey</MudTh>
                <MudTh>Time</MudTh>
                <MudTh>CommandType</MudTh>
                <MudTh>Content</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="RowKey">@context.RowKey</MudTd>
                <MudTd DataLabel="Time">@context.TimeStamp</MudTd>
                <MudTd DataLabel="CommandType">@context.CommandType</MudTd>
                <MudTd DataLabel="Content">@context.Content</MudTd>
            </RowTemplate>
        </MudTable>
        <MudDivider/>
        <MudStack Row="true" StretchItems="StretchItems.All">
            <MudButton Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.ArrowDownward"
                       OnClick="ScrollToBottomAsync">
                Scroll to bottom
            </MudButton>
            <MudButton Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.ArrowUpward" OnClick="ScrollToTopAsync">
                Scroll to top
            </MudButton>
        </MudStack>
    </MudStack>
</div>

<script>
    window.scrollToBottom = (elementId) => {
        let elem = document.getElementById(elementId);
        if (elem) {
            elem.scrollTop = elem.scrollHeight;
        }
    };

    window.scrollToTop = (elementId) => {
        let elem = document.getElementById(elementId);
        if (elem) {
            elem.scrollTop = 0;
        }
    };
</script>

@code {
    [Parameter] public List<CommandEntity> Commands { get; set; } = new();

    readonly string _containerId = $"commandTable{Guid.NewGuid():N}";

    public async Task ScrollToBottomAsync()
    {
        await JS.InvokeVoidAsync("scrollToBottom", _containerId);
    }

    public async Task ScrollToTopAsync()
    {
        await JS.InvokeVoidAsync("scrollToTop", _containerId);
    }
}