@using EventStore.EFCore.Postgres.Events
@inject IJSRuntime Js

<div>
    <MudStack>
        <MudText Typo="Typo.h6">@TableName</MudText>
        <MudDivider/>
        <MudTable id="@_containerId"
                  Items="@Events.Where(x => x.Key.Equals(Stream))"
                  Dense="true"
                  FixedHeader="true">
            <HeaderContent>
                <MudTh>RowKey</MudTh>
                <MudTh>Time</MudTh>
                <MudTh>EventType</MudTh>
                <MudTh>Content</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd>@context.RowKey</MudTd>
                <MudTd>@context.TimeStamp</MudTd>
                <MudTd>@context.EventType</MudTd>
                <MudTd>@context.Envelope.Body</MudTd>
            </RowTemplate>
        </MudTable>
        <MudDivider/>
        <MudStack Row="true" StretchItems="StretchItems.All">
            <MudButton Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.ArrowDownward"
                       OnClick="ScrollToBottomAsync">
                Scroll to bottom
            </MudButton>
            <MudButton Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.ArrowUpward" OnClick="ScrollToTopAsync">
                Scroll to top
            </MudButton>
        </MudStack>
    </MudStack>
</div>

@code {
    [Parameter] public required string TableName { get; set; }
    [Parameter] public required string Stream { get; set; }
    [CascadingParameter(Name = "CEvents")] public List<EventStreamEntity> Events { get; set; } = new();

    readonly string _containerId = $"eventStoreTable{Guid.NewGuid():N}";

    public async Task ScrollToBottomAsync()
    {
        await Js.InvokeVoidAsync("scrollToBottom", _containerId);
    }

    public async Task ScrollToTopAsync()
    {
        await Js.InvokeVoidAsync("scrollToTop", _containerId);
    }
}