@using EventStore.EFCore.Postgres.Events
@inject IJSRuntime JS

<div>
    <MudStack>
        <h3>@Stream stream</h3>
        <MudDivider/>
        <MudTable id="@_containerId"
                  Items="@Events.Where(x => x.Key.Equals(Stream))"
                  Hover="true"
                  FixedHeader="true"
                  Dense="true"
                  Breakpoint="Breakpoint.Sm"
                  Loading="@Loading"
                  LoadingProgressColor="Color.Info"
                  @ref="TableRef">
            <HeaderContent>
                <MudTh>RowKey</MudTh>
                <MudTh>Time</MudTh>
                <MudTh>EventType</MudTh>
                <MudTh>Content</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="RowKey">@context.RowKey</MudTd>
                <MudTd DataLabel="Time">@context.TimeStamp</MudTd>
                <MudTd DataLabel="EventType">@context.EventType</MudTd>
                <MudTd DataLabel="Content">@context.Envelope.Body</MudTd>
            </RowTemplate>
        </MudTable>
        <MudDivider/>
        <MudButton Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.ArrowDownward" OnClick="ScrollToBottomAsync">
            Scroll to bottom
        </MudButton>
    </MudStack>
</div>

<script>
    window.scrollToBottom = (elementId) => {
        let elem = document.getElementById(elementId);
        if (elem) {
            elem.scrollTop = elem.scrollHeight;
        }
    };
</script>

@code {
    [Parameter] public required string Stream { get; set; }
    [CascadingParameter(Name = "CEvents")] public List<EventStreamEntity> Events { get; set; } = new();
    public bool Loading { get; }
    public MudTable<EventStreamEntity> TableRef { get; set; }

    readonly string _containerId = $"eventStoreTable{Guid.NewGuid():N}";

    public async Task ScrollToBottomAsync()
    {
        await JS.InvokeVoidAsync("scrollToBottom", _containerId);
    }

}